<div class="content" role="main">
  <div class="row align-items-center justify-content-center">
      <h2><strong>IPO LIST</strong></h2>
  </div>
</div>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>IPOID</th>
            <th>CompanyName</th>
            <th>StockExchange</th>
            <th>PricePerShare</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ipos;let i = index" >
            <!-- <td>1,001</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td>dolor</td>
            <tr *ngFor="let item of ipos;let i = index"  ></tr> -->
            <td>{{item.ipoid}}</td>
            <td>{{item.companyName}}</td>
            <td>{{item.stockExchange}}</td>
            <td>{{item.pricePerShare}}</td>
            <td>
            <button type="button" class="btn btn-sm btn-outline-secondary" data-target="#deatil-btn-ipo" (click)="open(content,i)">Details</button></td>
            <!-- <td><input class="btn btn-primary" type="button" value="Detail" data-toggle="modal" data-target="#deatil-btn-ipo" (click)="currentIpo(1)" /> -->
                <ng-template #content let-modal id="deatil-btn-ipo">
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Company Details</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">
                        <span><label for="IPOID">Exchange ID</label>
                        <input type="text" class="form-control" id="IPOID" name="exchangeid" [(ngModel)]="ipoForm.ipoid" #IPOID="ngModel" readonly></span>
                      </div>
                      <div class="form-group">
                        <span><label for="CompanyName">Stock Exchange</label>
                        <input type="text" class="form-control" id="CompanyName" name="CompanyName" [(ngModel)]="ipoForm.companyName" #CompanyName="ngModel" readonly></span>
                      </div>
                      <div class="form-group">
                          <span><label for="stockExchange">Stock Exchange</label>
                          <input type="text" class="form-control" id="stockExchange" name="stockExchange" [(ngModel)]="ipoForm.stockExchange" #stockExchange="ngModel" readonly></span>
                        </div>
                      <div class="form-group">
                          <span><label for="pricepershare">Price Per Share</label>
                          <input type="text" class="form-control" id="pricepershare" name="pricepershare" [(ngModel)]="ipoForm.pricePerShare" #pricepershare="ngModel" readonly></span>
                        </div>
                      <div class="form-group">
                          <span><label for="totalshares">Total Number of Shares</label>
                            <input type="text" class="form-control" id="totalshares" name="totalshares" [(ngModel)]="ipoForm.totalNumber" #totalshares="ngModel" readonly></span>
                      </div>
                      <div class="form-group">
                        <span><label for="opendatetime">Open Date Time</label>
                        <input type="text" class="form-control" id="opendatetime" name="opendatetime" [(ngModel)]="ipoForm.openDateTime" #opendatetime="ngModel" readonly placeholder="YYYY-mm-dd hh:mm:ss"></span>
                        </div>
                      <div class="form-group">
                          <span><label for="remarks">Remarks</label>
                          <input type="text" class="form-control" id="remarks" name="remarks" [(ngModel)]="ipoForm.ipoRemarks" #remarks="ngModel" readonly></span>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button> -->
                    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Close</button>
                  </div>
                </ng-template>

          </tr>
          
        </tbody>
      </table>
    </div>