<!-- <div class="content" role="main">
    <form class="form-signin" #loginForm="ngForm">
      <h2 class="form-signin-heading">Please sign in</h2>
      <div class="row">
        <div class="col-md-12" style="text-align:right">
          <a [routerLink]="['/signup']">
            <em>Sign Up</em>
          </a>
        </div>
      </div>
      <br>
      <button class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.form.valid" type="submit">
        Sign in
      </button>
    </form>
</div> -->
  