
<form class="form-signin text-center" #signupForm="ngForm" (ngSubmit)="onSignup()">
    <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="username" name="username" [(ngModel)]="signup.username" #username="ngModel" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
      <div *ngIf="username.errors.required">
        Username is required.
      </div>
    </div>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" [(ngModel)]="signup.email" #email="ngModel" class="form-control" placeholder="Email" id="inputEmail" placeholder="Email Address" required autofocus>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="email.errors.required">
        Email is required.
      </div>
    </div>
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" [(ngModel)]="signup.password" #password="ngModel" id="inputPassword"  class="form-control" placeholder="Password" minlength="6" required>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
      <div *ngIf="password.errors.minlength">
        Password must be at least 6 characters long.
      </div>
    </div> 

    <div class="mb-3 text-right">
      <a [routerLink]="['/login']" routerLinkActive="router-link-active" ><em>Sign In</em></a>
    </div>

    <button class="btn btn-lg btn-primary btn-block" [disabled]="!signupForm.form.valid" type="submit">Submit</button>
  </form>